---
layout: compressor
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid d-flex flex-column flex-md-row">
    <nav class="navbar navbar-light bg-light navbar-expand-md d-flex flex-md-column align-content-start mt-0">
      <a href="../index.html" class="navbar-brand">Semana da Computação 2022</a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse w-100 d-flex flex-md-column" id="navbar">
          <ul class="navbar-nav w-100 d-flex flex-md-column text-center text-md-start">
              <hr style="color:black;">
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#art-home-collapse" aria-expanded="true">
                Arte
                </button>
                <div class="collapse" id="art-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#cap-home-collapse" aria-expanded="true">
                Captação de Palestras
                </button>
                <div class="collapse" id="cap-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#div-home-collapse" aria-expanded="true">
                  Divulgação
                </button>
                <div class="collapse" id="div-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#doc-home-collapse" aria-expanded="true">
                  Documentação e Processos
                </button>
                <div class="collapse" id="doc-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="../doc-proc/overview.html" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#jur-home-collapse" aria-expanded="true">
                  Jurídico e Financeiro
                </button>
                <div class="collapse" id="jur-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#aud-home-collapse" aria-expanded="true">
                  Live - Audiovisual
                </button>
                <div class="collapse" id="aud-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#inf-home-collapse" aria-expanded="true">
                  Live - Infraestrutura
                </button>
                <div class="collapse" id="inf-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#mar-home-collapse" aria-expanded="true">
                  maratonou!
                </button>
                <div class="collapse" id="mar-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
              <li>
                <button class="btn btn-toggle dropdown-toggle d-inline-flex align-items-center fw-bold collapsed shadow-none" data-bs-toggle="collapse" data-bs-target="#web-home-collapse" aria-expanded="true">
                  Webdev
                </button>
                <div class="collapse" id="web-home-collapse">
                  <ul class="list-unstyled pb-1">
                    <li class="nav-item ps-4 pt-1"><a href="#" class="link-secondary d-inline-flex text-decoration-none rounded">Overview</a></li>
                  </ul>
                </div>
              </li>
          </ul>
      </div>
  </nav>
  <main class="ps-0 mt-3 ps-md-5">
    {{ content }}
  </main>
</div>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
